extends layout

block content
	h1= 'Да шо те нада'
	p Сайт проката автомобилей
		div
			a(href='/search') Найти автомобиль
		div
		form(action='search' method="post" enctype='multipart/form-data')
			div
				label Начало
				input(type='DateTime' name='date1')
			div
				label Конец
				input(type='DateTime' name='date2')
			div
				button(type='submit') Найти тачку