extends layout

block content
    h1 Список автомобилей
    div
        a(href='/') На главную
    div
        a(href='/search') Вернуться к выбору деталей комплектации
    table
        thead
            th Модель автомобилей
            each car in carlist
                tr
                    td #{car.Name}