extends layout

block content
    h1= 'Добро пожаловать!'
    p Сайт проката автомобилей
    div
        form(action='/search' method="post" enctype='multipart/form-data')
            div
                label Начало
                input(type='Date' name='date1')
            div
                label Конец
                input(type='Date' name='date2')
            div
                button(type='submit') Найти тачку
    img(src='/images/car.jpg' height=auto width=auto)